body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #360568;
    color: white;
    min-width: 350px;
    text-decoration: none;
}

ul {
    text-align: center;
    margin: auto;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #1A1A1D;
    list-style: none;
    background-color: white;
    margin: 5px 20px;
    padding: 7px 20px;
    transition: .2s;
}

h1 {
    text-align: center;
}

section {
    width: 500px;
    height: 600px;
    margin: auto;
    margin: 5px;
    padding-bottom: 20px;
    border: 10px solid white;
    overflow-y: scroll;
    overflow: auto;
}

section:nth-child(1) {
    background: #f94144;
}

section:nth-child(2) {
    background: #1e96fc;
}

section:nth-child(3) {
    background: #06d6a0;
}

span {
    font-weight: bold;
}

#container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-container {
    text-align: center;
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    outline: none;
    appearance: none;
    border: none;
    margin: 5px;
    font-style: italic;
}

.addButton {
    font-weight: bold;
    font-size: 1.5rem;
    background: #272727;
    color: white;
    border: none;
    width: 32px;
}

.addButton:hover {
    background: #353535;
}

.addButton:active {
    background: #FFFFFF;
    color: #1A1A1D;
}

#statusBox {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#statusBox p {
    margin: 10px;
}

#clearButton {
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#clearButton:hover {
    background-color: #f94144;
}

#clearButton:active {
    background-color: white;
}

#clearButton img {
    width: 28px;
    height: 28px;
    width: 100%;
}